@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />  <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <br /> <br />
    <h1 class="display-2">Latvijas Pasts</h1>
    <h4 class="display-5">Iespēja aplūkot, rediģēt CV </h4>
</div>